<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <form action="/result">
        <div>
            <label>
                A
                <input name="enta">
            </label>
            <br> <br>
            <label>
                B
                <input name="entb">
            </label>
            <br> <br>

            <input type="radio" name="operate" value="ADD" checked> Add
            <input type="radio" name="operate" value="SUB"> Subtract <br>
            <button type="submit">Calculate</button>
        </div>
    </form>
</body>

</html>