<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>

<div>
    <form action="/data">
        <label>
            Name:
            <input name="uname" type="text" ></label>
        <br><br>

        <label>
            Registration No:
            <input name="unumber" type="number">
        </label>
        <br><br>
        <input value="today" checked name="iradio" type="radio">today</input>
        <br>
        <input value="tomorrow" name="iradio" type="radio">tomorrow</input>
        <br>
        <button type="submit">Submit</button>
    </form>
</div>

</body>
</html>
