<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>
        {{ result }}
    </h1>
    <form action="/result">
    A<input value="{{a}}" name="enta" type="number">
    <br> <br>
    B<input value="{{b}}" name="entb" type="number">
    <br> <br>
    <input name="result" value="add" type="submit"> <input name="result" value="sub" type="submit">
 </form>
</body>   

</html>